#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form{
  display: flex;
  justify-content: center;
  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
      color: #fff;
    }
    &:hover .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
      border-color: rgb(255, 255, 255);
    }
  }
  .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color: #9f9f9f;
  }
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: #cbcbcb;
  }
}
